<html>
<head>
    <title><%= title %></title>
    <link href="/static/video-js/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron vertical-center">
            <h1><%= title %></h1>
            <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" data-setup="{}">
                <source src="<%= sourceMP4 %>" type='video/mp4'>
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            
            <a class="btn btn-default" href="<%= sourceMP4 %>" role="button">Download</a>
        </div>
    </div>

    <script src="/static/video-js/video.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>